.main__container {
  position: relative;
  background-image: url("/src/components/assets/image3.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #000000;
  padding: 20px;
  scroll-snap-type: y mandatory;
  &.proximity {
    scroll-snap-type: y proximity;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 0;

    .title {
      font-family: "Lobster", cursive;
      font-size: 40px;
      font-weight: 700;
      color: var(--primaryTextColor);
    }

    @media only screen and (max-width: 560px) {
      .title {
        font-size: 25px;
      }
    }

    .content {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      text-align: left;
      font-weight: 500;
      color: var(--primaryTextColor);
    }

    @media only screen and (min-width: 800px) {
      .content {
        padding: 0 40px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .btn-1,
      .btn-2 {
        button {
          margin-top: 10px;
          padding: 10px 20px;
          background-color: #ff9900; /* Button background color */
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);
  }
}
